{
  "presets": ["react", "env", "stage-2"],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "transform-decorators-legacy" //http://es6.ruanyifeng.com/#docs/decorator#%E7%B1%BB%E7%9A%84%E4%BF%AE%E9%A5%B0
    // [
    //   "import",
    //   {
    //     "libraryName": "antd",
    //     "libraryDirectory": "es",
    //     "style": "css" // `style: true` 会加载 less 文件
    //   }
    // ]
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "development": {
      "presets": ["react-hmre"],
      "plugins": [
        "transform-async-to-generator",
        "transform-regenerator",
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                "imports": ["react"],
                "locals": ["module"]
              },
              {
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
          }
        ]
      ]
    }
  }
}
