.repos_wrapper {
  background-color: #f9f9f9;

  .my_github {
    text-align: center;
    padding-top: 10px;

    h2 {
      font-size: 36px;
      line-height: 36px;
    }
  }

  .repos_list {
    padding-top: 10px;
  }
}
