.categoryWrapper {
  .categoryRow {
    justify-content: space-between;
  }

  .btns {
    button + button {
      margin-left: 16px;
    }

    &.isEdit {
      display: flex;
      justify-content: space-between;
    }
  }

  ul.list {
    background-color: #fff;
  }

  li.item {
    border: 1px solid #666;
    padding: 2px 8px;
    color: #333;
    line-height: 1.5em;
    display: inline-block;
    margin: 0 7px 7px 0;
    border-radius: 2px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

    &:hover {
      background-color: $primaryColor;
      color: #fff;
      border: 1px solid $primaryColor;
    }

    &.active {
      color: $primaryColor;
      border: 1px solid $primaryColor;
      background-color: $primaryColor;
    }
  }
}
